@model LogiTrack.Web.Models.ProdutoViewModel
@{
    ViewData["Title"] = "Excluir Produto";
}

<div class="row mt-4">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">

                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Início</a></li>
                <li class="breadcrumb-item"><a asp-controller="Produto" asp-action="Index">Produtos</a></li>
                <li class="breadcrumb-item active">Excluir: @Model.Nome
            </ol>
        </nav>
    </div>
</div>